<?xml version="1.0" encoding="UTF-8"?>
<!-- Simulate robot in gazebo: To load our robot into the empty world  -->
<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mw_sawppy)/urdf/sawppy_base_only.xacro'" />

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    </include>

    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model m2wr -x $(arg x) -y $(arg y) -z $(arg z)" />

    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop">
  	</node>
</launch>