<?xml version="1.0"?>

<robot name="sawppy" xmlns:xacro="https://www.ros.org/wiki/xacro">

   <!-- Include all component files -->
   <xacro:include filename="$(find mw_sawppy)/urdf/materials.urdf.xacro" />
   <xacro:include filename="$(find mw_sawppy)/urdf/sawppy_base.urdf.xacro" />
   <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

   <!-- Add the base and wheels -->
   <base name="base" color="Yellow"/>

  <!-- Add the drive wheels -->
  <wheel parent="base" suffix="l" reflect="1" color="Black" offset_x="0.0" offset_y="0.262"/>
  <wheel parent="base" suffix="r" reflect="-1" color="Black" offset_x="0.0" offset_y="0.262"/>

  <wheel parent="base" suffix="fl" reflect="1" color="Black" offset_x="0.260" offset_y="0.237"/>
  <wheel parent="base" suffix="fr" reflect="-1" color="Black" offset_x="0.260" offset_y="0.237"/>

  <wheel parent="base" suffix="rl" reflect="1" color="Black" offset_x="-0.260" offset_y="0.237"/>
  <wheel parent="base" suffix="rr" reflect="-1" color="Black" offset_x="-0.260" offset_y="0.237"/>

  <link name="t265_model_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.09 0.02"/>
      </geometry>
      <material name="Blue" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.09 0.02"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.25"/>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
      <inertia ixx="0.0395416666667" ixy="0" ixz="0" iyy="0.106208333333" iyz="0" izz="0.106208333333"/>
    </inertial>
  </link>
  <gazebo reference="t265_model_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <joint name="t265_model_joint" type="fixed">
    <origin xyz="0.215 0 0.275" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="t265_model_link" />
  </joint>

  <sensor_d435 parent="base_link">
    <origin xyz="0.21 0 0.30" rpy="0 0 0"/>
  </sensor_d435>

  <!--
  <link name="d435_model_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.02 0.08 0.02"/>
      </geometry>
      <material name="Blue" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.02 0.08 0.02"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.25"/>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
      <inertia ixx="0.0395416666667" ixy="0" ixz="0" iyy="0.106208333333" iyz="0" izz="0.106208333333"/>
    </inertial>
  </link>
  <gazebo reference="d435_model_link">
    <material>Gazebo/Blue</material>
  </gazebo>
  <joint name="d435_model_joint" type="fixed">
    <origin xyz="0.21 0 0.30" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="d435_model_link" />
  </joint>
  -->

  <virtual_joint name="base_odom" type="planar" parent_frame="odom" child_link="base_footprint" />

</robot>


